# Python cache and bytecode
__pycache__/
*.pyc

# Virtual envs
.venv/
venv/

# Runtime app data
uploads/
results/

# Node.js
node_modules/
.next/

# Session Data
data/sessions/
data/uploads/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
